html {
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.table-interaction table {
	border-collapse: collapse;
}

.table-interaction tbody tr {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

td, th {
	padding: 0 0.5em 0 0.5em;
}

span.global_parameters_list {
	font-weight: bold;
}

label {
	width: 5em;
	display: inline-block;
}

body {
	margin: 0px;
	margin-left: 20%;
	padding: 1em;
}

form {
	margin: 0px;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 20%;
	height: 100%;
	background: black;
}

header h1 {
	position: absolute;
	margin: auto;
	padding: auto;
	height: 80px;
	width: 100%;
	display: table;
	background: white;
}

header h1 span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

nav {
	display: block;
	color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 80px;
}

nav header, nav h2 {
	display: none;
}

nav ul {
	margin: 0px;
	padding: 0px;
}

nav ul li {
	margin: 0px;
	padding: 0px;
}

nav ul li a {
	color: #fff;
	display: block;
	margin: 0px;
	padding: 0.8em;
}

nav a:hover {
	background: #333;
	text-decoration: inherit;
}

nav a:visited {
	color: #ddd;
}
