html {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.table-interaction table {
	border-collapse: collapse;
}

.table-interaction tbody tr {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

td, th {
	padding: 0 0.5em 0 0.5em;
}

span.global_parameters_list {
	font-weight: bold;
}

label {
	width: 5em;
	display: inline-block;
}
